:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #555;
    --primary-color: #50d8af;
    --border-color: #eee;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto; 
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-6 {
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
 }

.grid__column-9 {
    padding-left: 15px;
    padding-right: 15px;
    width: 75%;
}

.grid__column-3 {
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;
}

.grid__column-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 33.33333333333%;
}