/* Header top */
.header__top {
    height: 44px;
    border-bottom: 1px solid #eee;
}

.header__top-navbar {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}

.header__contact {
    display: flex;
    line-height: 1rem;
    align-items: center;
}

.header__contact-left i{
    padding: 4px;
    color: var(--primary-color);
}

.header__contact-left a{
    text-decoration: none;
    color: #555;
}

.header__contact-left a:hover{
    color: var(--primary-color);
    transition: 0.5s;
}

.header__contact-right {
    margin: 0 0 0 20px;
}

.header__contact-right i{
    padding: 4px 4px 4px 20px;
    color: var(--primary-color);
    border-left: 1px solid #e9e9e9;
}

.header__socials {

}

.header__top-list {
    display: flex;
    list-style: none;
}

.header__top-list-icon a{
    padding: 4px 12px;
    border-left: 1px solid #e9e9e9;
    line-height: 1rem;
    color: #555;
}

.header__top-list-icon:first-child a{
    border: none;
}

.header__top-list-icon a:hover {
    color: var(--primary-color);
    transition: 0.5s;
    cursor: pointer;
}
/* End header top */

/* Header bottom */
.header__bottom {
    padding: 20px 0;
}

.header__bottom-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__bottom-left {
    font-size: 42px;
    margin: 0;
    padding: 0;
}


.header__bottom-left a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #0c2e8a;
    font-weight: 700;
}

.header__bottom-left a span{
    color: var(--primary-color);
}

.header__bottom-left a img{
    width: 70px;
}

.header__bottom-right {

}

.header__bottom-list {
    display: flex;
    list-style: none;
}
.header__bottom-menu a:hover {
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.5s;
}

.header__bottom-menu a {
    text-decoration: none;
    font-size: 1.4rem;
    padding: 10px 8px;
    color: #555;
    font-weight: 600;
    margin-left: 10px;
}


.header__bottom-menu:first-child a {
    color: var(--primary-color);
}
/* End header bottom */

/* Intro */
.intro {
    height: 40vh;
    width: 100%;
    padding: 0;
    position: relative;
}

.intro__bg {
    width: 100%;
    height: 100%;
    background: url(../img/backgr.jpg) no-repeat;
    background-size: auto;
    background-position: center;
    padding: 0;
    opacity: 0.4;
}

.intro__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 30vh;
}

.intro__content  h2 {
    color: #0c2e8a;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    margin: 20px 0 30px 0;
}

.intro__content  h2 span{
    text-decoration: underline;
    color: var(--primary-color);
}

.intro__content p{
    font-size: 1.6rem;
    color: #444;
    padding: 0 8px;
}
.intro__button {
    height: 42px;
    margin: 40px 0 0 0;
}

.intro__button a{
    text-decoration: none;
}

.intro__button .intro__btn {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 32px;
    border-radius: 2px;
    margin: 10px;
    color: #fff;
    transition: 0.5s;
} 

.intro__button .intro__btn-get {
    background-color: #0c2e8a;
    border: 2px solid #0c2e8a;
}

.intro__button .intro__btn-pro {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

.intro__button .intro__btn-get:hover {
    background-color: transparent;
    color: #0c2e8a;
    border: 2px solid #0c2e8a;
}

.intro__button .intro__btn-pro:hover {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
/* End intro */
/* ABOUT */

    /* SECTION */
.about {
    padding: 60px 0 30px 0;
}

.about__section {
    padding: 60px 0 30px 0;
}

.about__section-img {
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
}

.about__section-title {
    font-size: 3.6rem;
    color: #0c2e8a;
    margin: 0 0 20px 0;
    line-height: 36px;
}

.about__section-content {
    font-size: 1.8rem;
    line-height: 26px;
    margin: 0 0 20px 0;
    color: #555;
    font-weight: 300;
    font-style: italic;
}       

.about__section ul {
    padding: 0;
    margin: 0;
}

.about__section-list {
    list-style: none;
    padding-bottom: 10px;
}

.about__section-list .fa-circle-check {
    color: var(--primary-color);
    font-size: 20px;
    padding-right: 4px;
}
.about__section-text {
    font-size: 16px;
    line-height: 30px;
    color: #444;
}   
    /* END SECTION */

    /* SERVICES */
.about__services {
    color: #444;
    font-size: 16px;
    padding: 30px 0 0;
}

.about__services-heading {
    font-size: 32px;
    color: #0c2e8a;
    margin: 0 0 20px;
    padding: 0 0 20px;
    font-weight: 700;
    position: relative;
}

.about__services-heading::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    display: block;
}

.about__services-box {
    display: flex;
    padding: 40px;
    box-shadow: 10px 10px 15px rgb(73 78 92 / 10%);
    transition: 0.5s;
    margin: 30px 0;
}

.about__services-box:hover {
    -webkit-transform: translateY(-10%);
    box-shadow: 0px 0px 30px rgb(73 78 92 / 15%);
}

.about__services-img {
    width: 200px;
    margin: auto;
    text-align: center;
    padding: 16px;
}

.about__services-img .about__services-icon {
   font-size: 64px;
   color: var(--primary-color);
}

.grid__row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.about__services-title > a{
    font-size: 22px;
    font-weight: 700;
    text-decoration: none;
    color: #444;
}


.about__services-title{
    padding: 0;
    margin: 0 0 32px 0;
}


.about__services-descreption {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.about__services-content {
    margin-left: 24px;
}
    /* END VERCIES */

    /* CLIENTS */
.about__clients {
    color: #444;
    font-size: 16px;
    padding: 30px 0;
}

.about__clients-header {
    margin: 0 0 30px 0;
}

.about__clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    justify-content: space-between;
}

.about__clients-img {
    width: 195px;
    height: 160px;
    cursor: pointer;
}
    /* END CLIENTS */

    /* ACTION */
.about__action {
    padding: 40px 0;
    background-color: #081e5b;
    display: flex;
    justify-content: space-between;
}

.about__action-header {
    font-size: 2.8rem;
    margin: 0 0 20px;
    font-weight: 700;
    color: #fff;
}

.about__action-text {
    color: #fff;
    margin: 0 0 30px;
    font-size: 16px;
}

.about__action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    padding: 16px 26px;
    margin: 10px;
    font-weight: 700;
    border: 3px solid #fff;
    text-decoration: none;
    transition: 0.5s;
}

.about__action-btn:hover {
    border: 3px solid var(--primary-color);
    background-color: var(--primary-color);
}
    /* END ACTION */
    /* CONTACT US */
.about__contact-header{
    padding: 40px 0;
    color: #444;
    font-size: 16px;
    padding: 30px 0;
}

.about__contact-info {
    margin-bottom: 20px;
    text-align: center;
}

.about__contact-address {
    padding: 20px 0;
}

.about__contact-address i{
   font-size: 48px;
   color: var(--primary-color);
   margin-bottom: 10px;
}

.about__contact-address h3{
    font-size: 18px;
    color: #999;
    font-weight: bold;
    margin-bottom: 15px;
 }

 .about__contact-address address {
    font-size: 16px;
    font-style: normal;
    line-height: inherit;
 }

 .about__contact-phone {
    padding: 20px 0;
}

.about__contact-phone i{
   font-size: 48px;
   color: var(--primary-color);
   margin-bottom: 10px;
}

.about__contact-phone h3{
    font-size: 18px;
    color: #999;
    font-weight: bold;
    margin-bottom: 15px;
 }


 .about__contact-email {
    padding: 20px 0;
}

.about__contact-email i{
   font-size: 48px;
   color: var(--primary-color);
   margin-bottom: 10px;
}

.about__contact-email h3{
    font-size: 18px;
    color: #999;
    font-weight: bold;
    margin-bottom: 15px;
 }
 .about__contact-email a{
    font-size: 16px;
    text-decoration: none;
    color: #444;
}

.salad{
    border-left: 1px solid rgb(232, 232, 232);
    border-right: 1px solid rgb(232, 232, 232);
}

.about__contact-form-email {
    width: 100%;
    margin-top: 30px;
}

.about__contact-form-email input{
    padding: 10px 14px;
    border-radius: 0;
    box-shadow: none;
    font-size: 15px;
    outline: none;
    margin-bottom: 10px;
}

.about__contact-form-email textarea{
    padding: 10px 14px;
    border-radius: 0;
    box-shadow: none;
    font-size: 15px;
    outline: none;
    margin-bottom: 10px;
    height: 150px;
}

.form-control {
    width: 100%;
    height: 42px;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
}

.about__contact-capcha {
    padding-left: -5px;
    padding-right: -5px;
    display: flex;
}

.about__contact-capcha-l {
    width: 33.3333333%;
    margin-right: 16px;
}

.about__contact-capcha-r {
    display: flex;
}

.about__contact-capcha-r span {
    line-height: 100%;
}

.about__contact-capcha-r .about__contact-btn {
    height: 40px;
    width: 40px;
    margin-left: 16px;
    background-color: rgba(255, 0, 0, 0.544);
    color: #fff;
    transition: 0.5s;
    border: none;
}

.about__contact-capcha-r .about__contact-btn:hover {
    cursor: pointer;
    background-color: red;
}

.about__contact-capcha-r .about__contact-btn i{
    font-size: 16px;
}

.about__contact-form-email .btn-send {
    text-align: center;
    margin-top: 30px;
}

.about__contact-form-email .btn-send button[type="submit"]{
    padding: 10px 30px;
    background-color: #50d8af;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition: 0.5s;
}

.about__contact-form-email .btn-send button[type="submit"]:hover {
    background: #2dc899;
}
    /* END CONTACT US */
/* END ABOUT */

/* FOOTER */
#footer {
    background-color: #f2f5f8;
    padding: 20px 0 40px 0;
    font-size: 14px;
}

#footer .container {
    text-align: center;
}
/* END FOOTER */